%header
  %h1="Town Hall Level: #{@village.town_hall_level}"

%section.buildings
  %header
    %h2 Buildings
  %ol
    - @village.buildings.each do |building|
      %li="#{building.name} (Level #{building.level})"

%section.available_buildings
  %header
    %h2 Available Buildings
  %ol
    - @village.available_buildings.each do |building|
      %li="#{building.name} (#{building.number_available}/#{building.availability_limit})"
